modules = ["nodejs-20", "python-3.11", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 44103614
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"
